<div>
  <img src="<%= gif.url %>" class="img-responsive">
  <h5>Image URL:</h5>
  <p><%= gif.url %></p>
  <h5>Uploaded By:</h5>
  <p><%= gif.user.username %></p>
  <h5>Uploaded At:</h5>
  <p><%= gif.created_at %></p>
</div>
