<div class="col-xs-4 gif-col">
  <%= link_to gif, data: {toggle: "modal", target: "#gif_show", remote: true} do %>
    <img src="<%= gif.url %>" id ="<%= gif.id %>" class="img-responsive gif">
  <% end %>
</div>
