#voting {
  position: relative;
  bottom: 8em;
}

#vote-count {
  text-align: center;
  font-size: 3em;
  p {
    padding: 0;
    margin: 0;
  }
}

.vote-arrow {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

.green-arrow {
  background-color: #39ff14;
}

.red-arrow {
  background-color: #ff0000;
}
